@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import url(https://fonts.googleapis.com/css?family=Raleway:30);
@import url(https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/blue/pace-theme-flash.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css);

body {
	font-family: "Raleway", sans-serif;
}

.color {
	&-100 { background: #f5f5f5; }
	&-200 { background: #d5d5d5; }
	&-300 { background: #ababab; }
	&-400 { background: #585858; }
	&-500 { background: #2e2e2e; }
	&-600 { background: #1f1f1f; }
	&-630 { background: #1b1b1b; }
	&-700 { background: #121212; }
	&-800 { background: #0e0e0e; }
	&-900 { background: #020202; }
}

.dark-pills {
	.nav-link {
		color: rgba(255, 255, 255, .5);
	}

	.nav-link.active {
		background: rgba(0, 0, 0, .3);
	}
}