$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts";
$color-100: #f5f5f5;
$color-200: #d5d5d5;
$color-300: #ababab;
$color-400: #585858;
$color-500: #2e2e2e;
$color-600: #1f1f1f;
$color-630: #1b1b1b;
$color-700: #121212;
$color-800: #0e0e0e;
$color-900: #020209;