@import "variables";
@import "switch";
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans);
@import url(https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/blue/pace-theme-flash.min.css);

body {
	font-family: "IBM Plex Sans", sans-serif;
}

.no-decoration {
	text-decoration: none !important;
}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.color {
	&-100, &-hover-100:hover { background-color: $color-100 !important; }
	&-200, &-hover-200:hover { background-color: $color-200 !important; }
	&-300, &-hover-300:hover { background-color: $color-300 !important; }
	&-400, &-hover-400:hover { background-color: $color-400 !important; }
	&-500, &-hover-500:hover { background-color: $color-500 !important; }
	&-600, &-hover-600:hover { background-color: $color-600 !important; }
	&-630, &-hover-630:hover { background-color: $color-630 !important; }
	&-700, &-hover-700:hover { background-color: $color-700 !important; }
	&-800, &-hover-800:hover { background-color: $color-800 !important; }
	&-900, &-hover-900:hover { background-color: $color-900 !important; }
	&-text-100, &-text-hover-100:hover { color: $color-100 !important; }
	&-text-200, &-text-hover-200:hover { color: $color-200 !important; }
	&-text-300, &-text-hover-300:hover { color: $color-300 !important; }
	&-text-400, &-text-hover-400:hover { color: $color-400 !important; }
	&-text-500, &-text-hover-500:hover { color: $color-500 !important; }
	&-text-600, &-text-hover-600:hover { color: $color-600 !important; }
	&-text-630, &-text-hover-630:hover { color: $color-630 !important; }
	&-text-700, &-text-hover-700:hover { color: $color-700 !important; }
	&-text-800, &-text-hover-800:hover { color: $color-800 !important; }
	&-text-900, &-text-hover-900:hover { color: $color-900 !important; }
	&-text { color: rgba(255, 255, 255, 0.8) !important; }
}

.dark-pills {
	.nav-link {
		color: rgba(255, 255, 255, .5);
	}

	.nav-link.active {
		background: rgba(0, 0, 0, .3);
	}
}

.transition {
	transition: 0.3s;
}

input, select {
	max-width: 420px;
	transition: 0.4s ease-in-out !important;
	border: none !important;
	background: $color-600 !important;
	color: rgba(255, 255, 255, 0.8) !important;
	outline: none !important;

	&[disabled] {
		background: $color-630 !important;
		cursor: not-allowed;
	}

	&:focus:not([disabled]), &:hover:not([disabled]) {
		max-width: 720px;
		color: white !important;
		background: $color-630 !important;
	}
}

.dropdown-menu {
	overflow: hidden;
	max-height: 0px;
	transition: max-height 0.4s ease-in-out;
	display: block;
	padding: 0px;
	border: none;
	margin: 0px;

	&.show {
		& a:first-child {
			padding-top: 0.5rem;
		}
		& a:last-child {
			padding-bottom: 0.5rem;
		}
		max-height: 500px;
		border: unset;
		margin: unset;
	}
}

::-webkit-scrollbar {
	width: 0px;
}

body::-webkit-scrollbar {
	width: 10px;

	&-track {
		box-shadow: inset 0 0 6px #ccc;
		border: 1px solid $color-100;
		background: $color-200;
	}

	&-thumb {
		background: $color-600;
		border: 1px solid $color-100;
		border-radius: 10px;

		&:hover {
			background: $color-630;
		}
	}
}

@keyframes float {
	0% {
		// box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translateY(0px);
	}

	50% {
		// box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translateY(-20px);
	}

	100% {
		// box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translateY(0px);
	}
}

.float {
	animation-name: float;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 8s;
}

.loading {
	font-size: 48px;
	text-align: center;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

#loadedView div:first-child:not(.loading) {
	animation-name: fade-in;
	animation-timing-function: ease-in-out;
	animation-duration: 0.65s;
}